/* Define some variables */
:root {
    --primary-color: #56445d;
    --secondary-color: #bdb7b9;
    --primary-background: #a8dadc;
    --secondary-background: #457b9d;
    --accent-color: #56445d;
}

/* Basic resets to keep sizing simple */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header area styling */

.header {
    background-color: var(--secondary-background);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    font-size: clamp(.75rem, 1vw, 1rem);
}

.banner {
    display: block;
    position: relative;
    font-size: clamp(2rem, 3vw, 3rem);
}

/* Overall content area styling (main area AND sidebar) */

.content_area {
    background-color: var(--primary-background);
    color: var(--primary-color);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    display: grid;
    grid-template-rows: 1fr 10fr 10em;
}

/* Sidebar styling */

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-bottom: 3px solid var(--accent-color);
}

.sideheader {
    margin-top: 1em;
    margin-left: 1em;
    border-bottom: 3px solid var(--accent-color);
    font-size: clamp(1rem, 3vw, 2rem);
}

.refreshlink {
    width: 100%;
    color: var(--primary-color);
}

.refresh {
    width: 100%;
    margin-top: .5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}

.tracked_stocks {
    margin-top: .5em;
    margin-bottom: 1em;
    list-style: none;
}

.stockitem {
    text-align: center;
    margin-top: .25em;
}

.editstocksitem,
.canceledit,
.addstock{
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
    font-size: .75em;
}

.stockLink{
    text-decoration: none;
    color: var(--primary-color)
}

/* Main content area styling */

.mainbody{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Header */

.logo{
    margin-right: .5em;
}

.mainHeader{
    display: flex;
    border-bottom: 3px solid var(--accent-color);
    align-items: center;
    padding-bottom: 1em;
}

.subheader{
    margin-top: .5em;
    font-size: clamp(1.15rem, 2vw, 2rem);
}

.stockWebsiteLink{
    margin-top: .75em;
    margin-bottom: .25em;
    text-decoration: none;
    font-size: .75em;
    display: grid;
    place-content: center;
}

/* Description */

.stockDescription{
    font-size: 1em;
    padding-left: .5em;
    border-top: 3px solid var(--accent-color);
    margin-top: .5em;
    padding-top: 1em;
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 1em;
}

/* Information Section */


/* Contact Section */

.stockContactInfo{
    margin-top: .5em;
    width: 100%;
}

.stockContactInfo h4{
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: .5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stockContactInfo p{
    margin-top: .25em;
}

/* Stock Details section */
.stockDetails{
    border-top: 1px solid var(--accent-color);
    width: 100%;
    margin-top: .5em;
}

.stockDetails h4{
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: .5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stockDetails p{
    margin-top: .25em;
}

.titlepart{
    font-size: .75em;
    font-weight: bold;
}

.infopart{
    font-size: .75em;
}

/* Share Info section */
.stockShareInfo{
    border-top: 1px solid var(--accent-color);
    width: 100%;
    margin-top: .5em;
}

.stockShareInfo h4{
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: .5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stockShareInfo p{
    margin-top: .25em;
}

.addstock {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.stockinput {
    margin-top: .5em;
}

.btnlbl {
    font-weight: bold;
    float: left;
    margin-right: .5em;
    margin-top: .75em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: .5em;
    margin-bottom: 1em;
}

.buttons button {
    margin-left: .5em;
    margin-right: .5em;
}

/* Footer area styling */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}

.footer div {
    margin: .5em;
}

/* Changes to style for Desktop viewing */

@media screen and (min-width: 800px) {
    .content_area {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: none;
        height: 90vh;
    }

    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        border-right: 3px solid var(--accent-color);
        border-bottom: none;
        padding-right: 1em;
    }

    .tracked_stocks {
        width: 100%;
        height: 100%;
    }

    .sideheader {
        font-size: clamp(1.5em, 1vw, 2rem);
        align-items: flex-start;
    }

.editstocksitem,
.canceledit,
.addstock{
    text-decoration: none;
    width: 100%;
}

.mainbody {
        padding-left: 1em;
    }

    .InfoSection{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 2fr 2fr;
    }

    .stockContactInfo{
        padding-left: .5em;
        border-right: 3px solid var(--accent-color);
    }

    .stockDetails{
        border-right: 3px solid var(--accent-color);
        border-top: none;
    }

    .stockShareInfo{
        border-top: none;
    }

    .titlepart{
        padding-left: 1em;
    }

    .footer {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            place-items: center;
        }
}

/* Increase font-size when screen is wide enough to prevent wrapping content in details */

@media screen and (min-width: 1200px){

    .titlepart{
        font-size: 1em;
    }

    .infopart{
        font-size: 1em;
    }
}